In [3]:

import pandas as pd
from qmt_data import QmtData
import os
import datetime

In [ ]:
today = datetime.datetime.today().strftime("%Y%m%d")

In [ ]:
qmt_data = QmtData()
ticker_df = qmt_data.get_tickers(["沪深ETF"])
stock_list = ticker_df["ticker"].tolist()
start_time = "20100101"
end_time = "20240816"
period = "5m"
# qmt_data.download_data(
#     start_time=start_time, end_time=end_time, period=period, stock_list=stock_list
# )
record = qmt_data.write_to_ftr_parallel(
    stock_list=stock_list,
    start_time=start_time,
    end_time=end_time,
    period=period,
)
record_df = pd.DataFrame(record)

<Client: 'tcp://127.0.0.1:54607' processes=8 threads=16, memory=31.95 GiB>
http://127.0.0.1:8787/status
[                                        ] | 0% Completed | 116.19 ms

d:\miniforge3\envs\my312\Lib\site-packages\dask\base.py:1487: UserWarning: Running on a single-machine scheduler when a distributed client is active might lead to unexpected results.
  warnings.warn(

[########################################] | 100% Completed | 92.36 s

In [ ]:
os.makedirs(
    "D:/qmt_datadir/logging/",
    exist_ok=True,
)
record_df.to_excel(
    f"D:/qmt_datadir/logging/{end_time}_record_{period}.xlsx",
    index=False,
    engine="openpyxl",
)

In [1]:
from data_moudle import get_quote_data, resample_stock_data

quote_data = get_quote_data("159941.SZ", "20100101", "20240815", "5m", "D:/qmt_datadir")

In [2]:
df_30 = resample_stock_data(quote_data, '60T')

d:\chengpt_trader\data_moudle.py:89: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  df_grouped.resample(resample_period)

In [3]:
df_30

,trade_time,ticker_symbol,open,high,low,close,volume,amount,settelement_price,open_interest,preclose,suspend_flag
0,2015-07-13 09:00:00,159941.SZ,0.950,0.950,0.910,0.911,305722,28283169.0,0.0,0.0,0.924,0.0
1,2015-07-13 10:00:00,159941.SZ,0.913,0.987,0.913,0.954,67402,6414218.0,0.0,0.0,0.961,0.0
2,2015-07-13 11:00:00,159941.SZ,0.955,0.960,0.937,0.939,37085,3508324.0,0.0,0.0,0.945,0.0
3,2015-07-13 12:00:00,159941.SZ,NaN,NaN,NaN,NaN,0,0.0,NaN,NaN,NaN,NaN
4,2015-07-13 13:00:00,159941.SZ,0.938,0.968,0.938,0.960,61386,5850393.0,0.0,0.0,0.967,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
79682,2024-08-14 11:00:00,159941.SZ,1.048,1.049,1.047,1.047,795595,83387189.0,0.0,14.0,1.049,0.0
79683,2024-08-14 12:00:00,159941.SZ,NaN,NaN,NaN,NaN,0,0.0,NaN,NaN,NaN,NaN
79684,2024-08-14 13:00:00,159941.SZ,1.047,1.051,1.047,1.050,2721763,285536921.0,0.0,13.0,1.049,0.0
79685,2024-08-14 14:00:00,159941.SZ,1.050,1.051,1.048,1.048,2308000,242253710.0,0.0,13.0,1.049,0.0
79686,2024-08-14 15:00:00,159941.SZ,1.048,1.049,1.048,1.048,281503,29506429.0,0.0,15.0,1.048,0.0